.app {
  height: 100vh;
  width: 100cw;
  background-color: rgba(168, 173, 182);
  display: grid;
  place-items: center;
}

.app__container {
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0;
}

.app__todoContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__todoContainer,
h1 {
  margin: 20px;
  text-align: center;
}
